In [2]:
import pandas as pd
df = pd.read_csv("Unclean_Dataset.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95380 entries, 0 to 95379
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        95380 non-null  object
 1   Age                95380 non-null  int64
 2   Gender             95038 non-null  object
 3   Region             95151 non-null  object
 4   Tenure_Months      95380 non-null  int64
 5   Subscription_Type  95141 non-null  object
 6   Monthly_Spend      95380 non-null  object
 7   Support_Tickets    95380 non-null  int64
 8   Churn_Flag         94794 non-null  object
 9   Signup_Date        95380 non-null  object
dtypes: int64(3), object(7)
memory usage: 7.3+ MB

In [ ]:
df.shape

In [ ]:
df.columns

In [3]:
df.head()

,Customer_ID,Age,Gender,Region,Tenure_Months,Subscription_Type,Monthly_Spend,Support_Tickets,Churn_Flag,Signup_Date
0,C000001,18,Female,South,9,mid,34.02,1,0,2024-02-17
1,C000002,18,M,Central,60,BASIC,6.96,2,0,05-01-2023
2,C000003,53,Female,Central,13,Standard,19.16,3,0,2020-09-18
3,C000004,27,Female,North,91,Basic,15.29,0,0,2024-10-30
4,C000005,38,Female,North,71,Standard,37.09,0,0,2021-07-20

In [4]:
df.isnull().sum()

Customer_ID            0
Age                    0
Gender               342
Region               229
Tenure_Months          0
Subscription_Type    239
Monthly_Spend          0
Support_Tickets        0
Churn_Flag           586
Signup_Date            0
dtype: int64

In [8]:
df.dropna().isnull()

,Customer_ID,Age,Gender,Region,Tenure_Months,Subscription_Type,Monthly_Spend,Support_Tickets,Churn_Flag,Signup_Date
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
95375,False,False,False,False,False,False,False,False,False,False
95376,False,False,False,False,False,False,False,False,False,False
95377,False,False,False,False,False,False,False,False,False,False
95378,False,False,False,False,False,False,False,False,False,False
95379,False,False,False,False,False,False,False,False,False,False

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95380 entries, 0 to 95379
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        95380 non-null  object
 1   Age                95380 non-null  int64
 2   Gender             95038 non-null  object
 3   Region             95151 non-null  object
 4   Tenure_Months      95380 non-null  int64
 5   Subscription_Type  95141 non-null  object
 6   Monthly_Spend      95380 non-null  object
 7   Support_Tickets    95380 non-null  int64
 8   Churn_Flag         94794 non-null  object
 9   Signup_Date        95380 non-null  object
dtypes: int64(3), object(7)
memory usage: 7.3+ MB

In [10]:
df.isnull().sum()

Customer_ID            0
Age                    0
Gender               342
Region               229
Tenure_Months          0
Subscription_Type    239
Monthly_Spend          0
Support_Tickets        0
Churn_Flag           586
Signup_Date            0
dtype: int64

In [11]:
df['Gender'] = df['Gender'].str.strip().str.upper()

In [12]:
df.head(10)

,Customer_ID,Age,Gender,Region,Tenure_Months,Subscription_Type,Monthly_Spend,Support_Tickets,Churn_Flag,Signup_Date
0,C000001,18,FEMALE,South,9,mid,34.02,1,0,2024-02-17
1,C000002,18,M,Central,60,BASIC,6.96,2,0,05-01-2023
2,C000003,53,FEMALE,Central,13,Standard,19.16,3,0,2020-09-18
3,C000004,27,FEMALE,North,91,Basic,15.29,0,0,2024-10-30
4,C000005,38,FEMALE,North,71,Standard,37.09,0,0,2021-07-20
5,C000006,26,MALE,East,29,Standard,23.91,2,No,2024-10-17
6,C000007,25,FEMALE,South,65,Standard,₹34.73,2,1,2021-11-02
7,C000008,22,NON-BINARY,South,54,Basic,16.76,0,0,2024-02-26
8,C000009,23,FEMALE,West,59,standard,34.91,2,NaN,2021-11-27
9,C000010,27,FEMALE,West,21,Basic,17.04,3,0,2019-12-08

In [13]:
df['Gender'].unique()

array(['FEMALE', 'M', 'MALE', 'NON-BINARY', 'F', 'NONBINARY', 'FEM', nan,
       'NA', 'PREFER NOT TO SAY', 'NB', 'NON BINARY', '-',
       'PREFER-NOT-TO-SAY', 'NULL', '', 'N/A'], dtype=object)

In [15]:
df['Subscription_Type'].unique()

array(['mid', 'BASIC', 'Standard', 'Basic', ' Basic  ', 'standard',
       'Enterprise', 'entry', 'Premium', 'premium', ' basic  ', ' pro ',
       'basic', 'gold', 'STD', 'starter', 'corp', 'PRM', ' Standard  ',
       '-', ' STD  ', ' PRM  ', 'Corporate', 'enterprise', ' BASIC  ',
       'ENT', nan, ' Premium  ', ' Enterprise  ', ' premium  ', ' gold  ',
       ' mid  ', ' entry  ', '  pro   ', ' starter  ', ' standard  ',
       ' enterprise  ', ' N/A  ', ' corp  ', ' null  ', ' ENT  ',
       ' Corporate  ', ' NULL  '], dtype=object)

In [17]:
df['Gender'].isnull().sum()

np.int64(342)

In [23]:
df = df.dropna(subset=['Subscription_Type'])

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94860 entries, 0 to 95379
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        94860 non-null  object
 1   Age                94860 non-null  int64
 2   Gender             94860 non-null  object
 3   Region             94733 non-null  object
 4   Tenure_Months      94860 non-null  int64
 5   Subscription_Type  94860 non-null  object
 6   Monthly_Spend      94860 non-null  object
 7   Support_Tickets    94860 non-null  int64
 8   Churn_Flag         94279 non-null  object
 9   Signup_Date        94860 non-null  object
dtypes: int64(3), object(7)
memory usage: 8.0+ MB