In [ ]:
import pandas as pd
df = pd.read_csv("Raw Data.csv")
df.head()

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df.tail()

In [ ]:
df['Profit_Margin'] = df['Profit'] / df['Sales_Value']

In [ ]:
import pandas as pd
#Convert the Date into Date-Time format
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%y')
df['Day'] = df['Date'].dt.day
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

In [108]:
df['Month_Name'] = df['Date'].dt.strftime('%b')

In [109]:
cols = list(df.columns)
cols.remove('Month_Name')
cols.insert(-3,'Month_Name')
df = df[cols]

In [110]:
df.head()

,Date,Region,Product,Sales_Value,Profit,Profit_Margin,Month_Name,Day,Month,Year
0,2024-03-12,West,Bananas,1793.49,618.84,0.345048,Mar,12,3,2024
1,2024-03-16,East,Bananas,2009.14,484.19,0.240994,Mar,16,3,2024
2,2024-02-01,West,Headphones,186.01,22.32,0.119994,Feb,1,2,2024
3,2024-01-24,South,Headphones,1792.82,206.72,0.115304,Jan,24,1,2024
4,2024-02-19,North,Tablet,2795.35,941.72,0.336888,Feb,19,2,2024